{% extends "base.html" %}

{% block title %}Cadastro de Empresas{% endblock %}

{% block content %}
<div class="container">
    <h2>Cadastro de Empresas</h2>
    <form method="POST" class="form-cadastro">
        <input type="text" name="nome" placeholder="Nome da Empresa..." required>
        <input type="text" name="vale_alimentacao" placeholder="Vale Alimentação (valor)..." required>
        <button type="submit" class="btn">Cadastrar</button>
    </form>

    <h3>Empresas Cadastradas</h3>
    <div class="empresa-card">
      {% for item in empresas %}
      <div class="empresa-item">
          <span class="empresa-nome">{{ item.nome }}</span>
          <span class="empresa-vale">Vale-Alimentação: R$ {{ "%.2f"|format(item.vale_alimentacao|float) }}</span>
          <a href="{{ url_for('excluir_empresa', id=item.id) }}" class="btn-excluir">Excluir</a>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
